
<a href="{{ product.url }}" class="popular-products-layout">
  <div class="heading flex-container flex-between flex-top">
    <div class="pct">
      <img src="{{ product.featured_image | img_url: 'x50'  }}" alt="{{ product.title }}">
    </div>
  </div>
  <div class="data flex-container flex-between flex-bottom">
    <div class="info">
      <div class="title">{{ product.title }}</div>
    </div>
    <div class="price flex-container flex-right flex-bottom">
      {% if product.compare_at_price %}
        <div class="old-price">{{ product.compare_at_price | money_without_trailing_zeros }}</div>
        <div class="current-price">{{ product.price | money_without_trailing_zeros }}</div>
      {% else %}
        <div class="current-price">{{ product.price | money_without_trailing_zeros  }}</div>
      {% endif %}
    </div>
  </div>
</a>