<div class="page-width">
<article itemscope itemtype="http://schema.org/Article" class="grid">

<div class="grid__item{% if blog.all_tags.size > 0 %} medium-up--three-quarters large-up--four-fifths{% endif %}">
{% comment %}
The article contents can be found in /sections/article-content.liquid
{% endcomment %}

    {%- assign new_comment = false -%}
    {% if comment and comment.created_at %}
        {%- assign new_comment = true -%}
        {%- assign new_comment_id = comment.id -%}
    {% endif %}

    {% if new_comment %}
        {%- assign duplicate_comment = false %}
        {% for comment in article.comments %}
            {% if comment.id == new_comment_id %}
                {%- assign duplicate_comment = true %}
                {% break %}
            {% endif %}
        {% endfor %}

        {% if duplicate_comment %}
            {%- assign number_of_comments = article.comments_count -%}
        {% else %}
            {%- assign number_of_comments = article.comments_count | plus: 1 -%}
        {% endif %}
    {% else %}
        {%- assign number_of_comments = article.comments_count -%}
    {% endif %}


    {% if article.image %}
        <div class="article-pct">
            <noscript>
                {{ article | img_url: '1024x1024' | img_tag: article.title | escape }}
            </noscript>
            <img class="lazyload" src="{{ article.image | img_url: '1360x475', crop: 'center' }}" data-src="{{ img_url }}"
                 data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ article.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ article.title | escape }}">
        </div>
    {% endif %}
    <div class="article-grid">
        <div class="article-side">
            <div class="article-pd">
                {{ article.published_at | time_tag: format: 'month_day_year' }}
            </div>
            <div class="article-author">
                {{ article.author }}
            </div>
            {% if article.tags.size > 0 %}
                <div class="article-tags">
                    {% for tag in article.tags %}
                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="article-content">
            <h1 class="h2">{{ article.title }}</h1>
            <div class="rte rte--indented-images" itemprop="articleBody" style="font-size: 17px; line-height: 35px;">
                {{ article.content }}
            </div>
        </div>
        <div class="article-share">
            {% if section.settings.social_sharing_blog %}
                {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
            {% endif %}
        </div>
    </div>

    {% if blog.comments_enabled? %}
        {% if number_of_comments > 0 %}
            <div class="content-block">
                <h2 class="h3">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>

                {% paginate article.comments by 5 %}

                    {% comment %}
                      #comments is required, it is used as an anchor link by Shopify.
                    {% endcomment %}
                    <div id="comments">

                        {% if new_comment %}
                            <p class="form-success">
                                {% if blog.moderated? %}
                                    {{ 'blogs.comments.success_moderated' | t }}
                                {% else %}
                                    {{ 'blogs.comments.success' | t }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if number_of_comments > 0 %}
                            <ul class="comments list--no-bullets">
                                {% comment %}
                                  If a comment was just submitted with no blank field, show it.
                                {% endcomment %}
                                {% if new_comment %}
                                    {% unless paginate.current_page > 1 %}
                                        <li id="{{ comment.id }}" class="comment">
                                            {% include 'comment' %}
                                        </li>
                                    {% endunless %}
                                {% endif %}

                                {% for comment in article.comments %}
                                    {% unless comment.id == new_comment_id %}
                                        <li id="{{ comment.id }}" class="comment">
                                            {% include 'comment' %}
                                        </li>
                                    {% endunless %}
                                {% endfor %}
                            </ul>

                            {% if paginate.pages > 1 %}
                                <div class="pagination">
                                    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endpaginate %}
            </div>
        {% endif %}

        <div class="content-block">
            <div class="comment-form form-vertical">
                {% form 'new_comment', article %}

                    <div class="side">
                        <h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>

                        {% if blog.moderated? %}
                            <div class="note">{{ 'blogs.comments.moderated' | t }}</div>
                        {% endif %}
                    </div>

                    {{ form.errors | default_errors }}

                    <div class="form">
                        <div class="inputs">
                            <div class="input-wrap">
                                <input type="text" name="comment[author]" id="CommentAuthor" class="{% if form.errors contains 'author' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}">
                            </div>

                            <div class="input-wrap">
                                <input type="email" name="comment[email]" id="CommentEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                            </div>
                        </div>

                        <label for="CommentBody" class="label--hidden">{{ 'blogs.comments.message' | t }}</label>
                        <textarea name="comment[body]" id="CommentBody" class="{% if form.errors contains 'body' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>

                        <input type="submit" value="Post">
                    </div>
                {% endform %}
            </div>
        </div>
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}
    {%- if collection != blank -%}
            {% if collection.products_count != 0 %}
                <div class="sp-fp">
                    <div class="section-heading flex-container flex-between flex-bottom">
                        <div class="section-heading__title">{{ 'layout.sidebar.featured_products' | t }}</div>
                        <div class="section-heading__more"><a href="/collections/all" class="btn">View all</a></div>
                    </div>
                    <div class="products-grid products-grid-collections">
                        {% for product in collection.products limit: 3 %}
                            {% include 'product-layout', product: product %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
    {%- endif -%}

<div class="full-width full-width--return-link">
<a href="{{ blog.url }}" class="h1 return-link">
{% include 'icon-arrow-thin-left' %}
{{ 'blogs.article.back_to_blog' | t: title: blog.title }}
</a>
</div>
</div>

{% if blog.all_tags.size > 0 %}
<div class="grid__item medium-up--one-quarter large-up--one-fifth small--hide">
<div class="content-block content-block--small">
<h3 class="h6 content-block__title">{{ 'blogs.article.tags' | t }}</h3>
<ul class="list--no-bullets list--bold">
{% for tag in blog.all_tags %}
{% if current_tags contains tag %}
<li>{{ tag }}</li>
{% else %}
<li>{{ tag | link_to_tag: tag }}</li>
{% endif %}
{% endfor %}
</ul>
</div>
</div>
{% endif %}

</article>
</div>
{% schema %}
{
"name": "Article Alternate",
"settings": [
{
"type": "collection",
"id": "collection",
"label": "Collection"
},
{
"type": "checkbox",
"id": "social_sharing_blog",
"label": "Enable blog post sharing",
"default": true
}
]
}
{% endschema %}