<div class="container">

    <article itemscope itemtype="http://schema.org/Article" class="grid" data-json="{{ article.url }}">
        <meta itemprop="headline" content="{{ article.title }}">
        <div itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name " content="Artistpush">
        </div>
        <meta itemprop="datePublished" content="{{ article.published_at }}">
        <meta itemprop="dateModified" content="{{ article.created_at }}">
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url"
                      content="https://cdn.shopify.com/s/files/1/2373/2631/files/LOGO_WITH_FONT_WEB_3_220_450x.png">
                <meta itemprop="width" content="448">
                <meta itemprop="height" content="80">
            </div>
            <meta itemprop="name" content="Artistpush">
        </div>
        <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{{ article.image | img_url: '1080x' }}">
        </div>
        <div itemprop="mainEntityOfPage" itemscope itemtype="https://schema.org/WebPage">
            <a itemprop="url" href="https://artistpush.me{{ article.url }}"></a>
        </div>


        <div class="grid__item{% if blog.all_tags.size > 0 %} medium-up--three-quarters large-up--four-fifths{% endif %}">
            {% comment %}
                The article contents can be found in /sections/article-content.liquid
            {% endcomment %}

            {% section 'article-content' %}

            {% include 'related-products-list' %}

            {% section 'featured-products-subsection' %}

        </div>

        {% if blog.all_tags.size > 0 %}
            <div class="recently-blog_wraper" >
            <div class="section-heading flex-container flex-between flex-bottom">
                <div class="section-heading__title">More articles</div>
            </div>
            <div class="blog-grid blog-grid-3 recently-blog">
                {% comment %}
            {% assign articles = blog.articles | reverse %}
            {% assign iteration = 0 %}
            {% assign curent_article = article.id %}
            {% for article in articles  %}
                {% if article.id != curent_article %}
                    {% include 'article-layout-3' %}
                    {% assign iteration = iteration | plus: 1 %}
                {% endif %}
                {% if iteration == 3 %}
                {% break %}
                {% endif %}
            {% endfor %}
                {% endcomment %}
                {% assign iteration = 0 %}
                {% assign last = false %}
                {% assign curent_article = article.id %}
                {% for article in blog.articles  %}
                    {% if article.id == curent_article %}
                        {% assign iteration = forloop.index0 %}
                        {% if forloop.last %}
                            {% assign last = true %}
                        {% endif %}
                        {% break %}
                    {% endif %}
                {% endfor %}
                {% for i in (0..2) %}
                    {% if last%}
                        {%  assign iteration = iteration | minus: 1 %}
                    {% else %}
                        {% assign iteration = iteration | plus: 1 %}
                    {% endif %}
                    {% if blog.articles[iteration].title != blank %}
                        {% include 'article-layout-3' , article:blog.articles[iteration] %}
                    {% else %}
                        {%  assign iteration = iteration | minus: 4 %}
                        {% include 'article-layout-3' , article:blog.articles[iteration] %}
                    {% endif %}

                {%endfor%}

            </div>
            </div>
        {% endif %}

    </article>


</div>


