{% paginate blog.articles by 10 %}

{% if current_tags %}
	{%capture  current_tag %}
		{{current_tags.first|strip}}
	{% endcapture  %}
    {% for tag in blog.metafields.global %}
	{%capture  tag_name %}
		{{tag | first}}
	{% endcapture  %}
    {% if current_tag == tag_name  %}
      {%capture  desc_tag %}
          {{tag | last}}
      {% endcapture  %}
		
    {% endif %}
  {% endfor %}
{% endif %}

<div class="container">

  <h1>
    {% if current_tags %}
      {{ current_tags.first }}
    {% else %}
      {{ blog.title }}
    {% endif %}
    <a href="{{ shop.url }}{{ blog.url }}.atom" class="blog__rss-link link-accent-color">
      {% comment %}
      {% include 'icon-rss' %}
      <span class="icon__fallback-text">RSS</span>
      {% endcomment %}
    </a>
  </h1>

    {% comment %}Modified by Alexander L (Theme Support) on November 23, 2017{% endcomment %}
    {% if blog.all_tags.size > 0 %}
      <ul class="blog-tags">
          <li>
              <a href="{{ blog.url }}">{{ 'blogs.article.all_tags' | t }}</a>
          </li>
          {% for tag in blog.all_tags %}
              {% if current_tags contains tag %}
                  <li class="current"><span>{{ tag }}</span></li>
              {% else %}
                  <li>{{ tag | link_to_tag: tag }}</li>
              {% endif %}
          {% endfor %}
          <li class="current"><span>Tags</span></li>
      </ul>
    {% endif %}
      <div class="blog-grid">
          {% for article in blog.articles %}
              {% include 'article-layout-2' %}
          {% endfor %}
      </div>

    {% if paginate.pages > 1 %}
        <div class="pagination">
            {% comment %}
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
            {% endcomment %}

            {% include 'new-pagination' %}

        </div>
    {% endif %}

    {% if current_tags %}
        {%capture  current_tag %}
            {{current_tags.first|strip}}
        {% endcapture  %}
        {% for tag in collection.metafields.global %}
            {%-capture tag_name-%}
                {{tag | first}}
            {% endcapture  %}
            {% if current_tag == tag_name  %}
                {%-capture desc_tag-%}
                    {{tag | last}}
                {% endcapture  %}

            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="collection-footer flex-container flex-between flex-top">
        <div class="side flex-container flex-left flex-top">
            <div class="title">Artist Push<br> music blog</div>
            <div class="read-more read-more-col">read more</div>
        </div>
        <div class="content">
            {% comment %}{{ collection.metafields.global.collection_text }}{% endcomment %}
            {% if desc_tag %}
                {{desc_tag}}
            {%else%}
                {{ blog.metafields.global.below_featured_products }}
            {%endif%}
        </div>
    </div>
    {% comment %}
        {% include 'related-blogs-list' %}
    {% endcomment %}
  </div>
</div>

{% endpaginate %}
{% section 'faq-section_blog' %}