{% paginate collection.products by 30 %}


    {% if current_tags %}
        {% capture  current_tag %}
            {{ current_tags.first|strip }}
        {% endcapture %}
        {% for tag in collection.metafields.global %}
            {% capture  tag_name %}
                {{ tag | first }}
            {% endcapture %}
            {% if current_tag == tag_name %}
                {% capture  desc_tag %}
                    {{ tag | last }}
                {% endcapture %}

            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="collection-header">
            <div class="flex-container flex-between flex-top">
                <div class="collection-header__left">
                    <h1 class="page-title">{{ collection.title }}</h1>

                    {% if collection.description != blank %}
                        <div class="collection-desc mob-visible">
                            {{ collection.description }}
                        </div>
                    {% endif %}
                    <div class="collection-filters">
                        {% section 'collection-filters' %}
                    </div>
                </div>
                <div class="collection-header__right">
                    {% if collection.description != blank %}
                        <div class="collection-desc desc-visible">
                            {{ collection.description }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="products-grid  products-grid-collections">

            {% for product in collection.products %}
                {% include 'product-layout' %}
            {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
            <div class="pagination">

                {% comment %}
                    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                {% endcomment %}

                {% include 'new-pagination' %}

            </div>

        {% endif %}
        {% section 'collection-footer' %}

        {% comment %}
            <div class="grid__item medium-up--one-whole section-header__item">
                {% comment %}{{ collection.metafields.global.collection_text }}{% endcomment %}
                {% if desc_tag %}
                    {{ desc_tag }}
                {% else %}
                    {{ collection.metafields.global.collection-text }}
                    {{ collection.metafields.global.collection_text }}
                {% endif %}
            </div>
        {% endcomment %}

        {% comment %} Added by Smit S @Shopify Theme Support |  July 04  2019 {% endcomment %}
        <div class="grid__item medium-up--one-half section-header__item">
            <div id="custom_text" class="section-header__subtext rte">
                {{ settings.add_text }}
            </div>
        </div>
        {% comment %} Ends here |Smit S @Shopify Theme Support |  July 04  2019 {% endcomment %}
    </div>

{% endpaginate %}

{% section 'faq-section_collection' %}